/* Acá va tu código */
#titulo{
    color:green;
     text-align:center;
}
body{
    background-image: url(http://2.bp.blogspot.com/-1fM0QN356pE/VATDfj1p15I/AAAAAAAAFAM/KJqj0Zq-BbE/s1600/Main_characters_of_Gravity_Falls.png);
background-repeat: no-repeat;
background-size: cover;
}
#subti{
    color: darkgreen;
    text-align:center;
}
  p{
      color: rgb(11, 21, 39);
      text-align: center;
      
  }